DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=app_computacion
JWT_SECRET=cambiar-por-una-clave-larga-y-segura

# URL publica donde se vera el frontend (para CORS del backend)
FRONTEND_URL=http://TU_DOMINIO_O_IP

# Para frontend en el mismo dominio dejar /api
VITE_API_URL=/api
